@wireapp/android

# Gradle
gradle/libs.versions.toml @wireapp/android

# GitHub Actions workflows
.github/workflows/* @wireapp/android

# GitHub Actions dependency/update config
renovate.json @wireapp/android
.github/actions/* @wireapp/android
