<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application android:name=".WireApplication">
        <activity android:name=".ui.WireActivity">
            <intent-filter>
                <action android:name="android.intent.action.SYNC" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
    </application>
</manifest>
