<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge">

            <meta-data
                android:name="com.wire.android.nomad.initializer.NomadInitializer"
                android:value="androidx.startup"
                tools:node="merge" />
        </provider>
    </application>

</manifest>
