name: "Build App"

on:
  workflow_call:
    inputs:
      flavour:
        required: true
        type: string

jobs:
  build-app:
    runs-on: buildjet-8vcpu-ubuntu-2204
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive # Needed in order to fetch Kalium sources for building
        fetch-depth: 0
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Build beta flavour
      if: ${{ inputs.flavour == 'beta-debug' }}
      env:
        GITHUB_USER: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./gradlew assembleBetaDebug -p ./ --no-daemon
        cp app/build/outputs/apk/beta/debug/com.wire.*.apk wire-android-${{inputs.flavour}}-pr-${{ github.event.pull_request.number }}.apk
    - name: Build dev flavour
      if: ${{ inputs.flavour == 'dev-debug' }}
      env:
        GITHUB_USER: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./gradlew assembleDevDebug -p ./ --no-daemon
        cp app/build/outputs/apk/dev/debug/com.wire.*.apk wire-android-${{inputs.flavour}}-pr-${{ github.event.pull_request.number }}.apk
    - name: Upload APK
      if: success()
      uses: actions/upload-artifact@v3
      with:
          name: wire-android-${{inputs.flavour}}-pr-${{ github.event.pull_request.number }}.apk
          path: ./wire-android-${{inputs.flavour}}-pr-${{ github.event.pull_request.number }}.apk
