name: "Crowdin Action - Base Source Updater"

# **What it does**: Download new source from crowdin project.
# **Why we have it**: We want to be able to pull-update base (EN) translations to the project.
# **Who does it impact**: Everyone collaborating on the project, and the translators.
# For more info: https://github.com/crowdin/github-action/blob/master/action.yml

on:
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    synchronize-with-crowdin:
        runs-on: ubuntu-latest

        env:
            GITHUB_USER: "AndroidBob"
            GITHUB_TOKEN: ${{ secrets.ANDROID_BOB_GH_TOKEN }}

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: "Exit if the branch is not default 'develop'"
                run: |
                    if [[ "${{ github.ref }}" != "refs/heads/develop" ]]; then
                      echo "Branch is not develop, exiting."
                      exit 0
                    fi

            -   name: Crowdin action
                uses: crowdin/github-action@v2
                with:
                    project_id: ${{ secrets.CROWDIN_PROJECT_ID }}
                    token: ${{ secrets.CROWDIN_API_TOKEN }}

                    download_sources: true
                    push_sources: true
                    upload_sources: false
                    download_translations: true
                    upload_translations: false

                    create_pull_request: true
                    localization_branch_name: chore/sync-and-update-localization-source
                    commit_message: "chore: update localization sources from Crowdin"
                    pull_request_title: "chore: update localization sources from Crowdin"
                    pull_request_body: "This PR pulls in the latest localization **source** from Crowdin."
                    github_user_name: "AndroidBob"
                    github_user_email: "AndroidBob@users.noreply.github.com"

                    pull_request_labels: "l10n, crowdin"
                    pull_request_assignees: "AndroidBob"
                    pull_request_team_reviewers: "wireapp/android"
                    pull_request_base_branch_name: ${{env.BASE_BRANCH}}

                    config: "crowdin.yml"
