name: Link and Lint PR with Jira Ticket Number
on:
  merge_group:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  contents: read
  pull-requests: write
jobs:
  add-jira-description:
    runs-on: ubuntu-latest
    # Run only if the PR is not from a Fork / external contributor
    if: ${{ github.repository_owner == 'wireapp' }}
    steps:
      - name: Check for Dependabot
        if: github.actor == 'dependabot[bot]' || github.actor == 'AndroidBob'
        run: echo "PR created by Dependabot or AndroidBob, exiting successfully" && exit 0

      - uses: mohamadjaara/jira-description-action@master
        name: jira-description-action
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-token: ${{ secrets.JIRA_TOKEN }}
          jira-base-url: https://wearezeta.atlassian.net
          skip-branches: '^(production-release|main|master|release\/v\d+)$' #optional
          fail-when-jira-issue-not-found: true
          skip-ticket-title: true
