name: Link and Lint PR with Jira Ticket Number
on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  get-version:
    runs-on: ubuntu-latest
    # Run only if the PR is not from a Fork / external contributor
    if: ${{ github.repository_owner == 'wireapp' }}
    outputs:
      version_name: ${{ steps.version.outputs.version_name }}
    steps:
      - name: Get version name from source
        id: version
        run: |
          VERSION=$(curl -s https://raw.githubusercontent.com/${{ github.repository }}/${{ github.head_ref || github.ref_name }}/build-logic/plugins/src/main/kotlin/AndroidCoordinates.kt | grep 'const val versionName' | sed -E 's/.*"([^"]+)".*/\1/')
          echo "version_name=$VERSION" >> $GITHUB_OUTPUT

  add-jira-description:
    needs: get-version
    uses:
      wireapp/.github/.github/workflows/jira-link-pr-reusable.yml@mo/ci/jira-linking-gh-action # TODO: replace with commit hash
    with:
      skip-branches: '^(production-release|main|master|release\/v\d+)$'
      skip-actors: 'dependabot[bot],AndroidBob'
      version-name: ${{ needs.get-version.outputs.version_name }}
      fix-version-regex: '(?:^|[\s\-_])(v?\d+\.\d+(?:\.\d+)?(?:[\-\+][\w\.\-]*)?)'
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}
