name: Link and Lint PR with Jira Ticket Number
on:
  merge_group:
  pull_request:
    types: [opened, edited, synchronize]
jobs:
  add-jira-description:
    runs-on: ubuntu-latest
    # Run only if the PR is not from a Fork / external contributor
    if: (!startsWith(github.ref, 'refs/heads/dependabot/') && github.repository_owner == 'wireapp')
    steps:
      - uses: cakeinpanic/jira-description-action@v0.8.0
        name: jira-description-action
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-token: ${{ secrets.JIRA_TOKEN }}
          jira-base-url: https://wearezeta.atlassian.net
          skip-branches: '^(production-release|main|master|release\/v\d+)$' #optional
          fail-when-jira-issue-not-found: false
